<!DOCTYPE html>
<html>
    <head>
        <title>
                Teste Vue.Js
        </title>
    </head>
    <body>
        <div id="root">
            
            <input type="text" id="input" v-model="message">
            <p>The value of the above input is : {{message}}</p>
            <ul>
                <li v-for="name in names" v-text="name"></li>
            </ul>
            <br>
            <input type="text" v-model="newName">
            <button @:click="addName">Add item</button>

        </div>    

        <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>

        <script>
            new Vue({
                el: '#root',
                data: {
                    message: 'Yooo',
                    names: ['Joe','Brook','Caprice'],
                    newName: ''
                }
            ,
            methods:{
                addName(){
                    this.names.push(this.newName);  
                    this.newName = ''; 
                }
            }
            
        })
        </script>

    </body>
</html>