<html>
<head>
    <title></title>
</head>
<body>
    <div id="root">
        <input type="text" v-model = "newName">
        <button @click="AddName">Add Name</button>
        <hr>
        <table>
           <!-- <template  v-for="(p,key) in Persons"> !-->
            <tr v-for="(p,key) in Persons" v-bind:key ="p.id"> 
                <template v-if="editID == p.id">
                    <td><input v-model ="flagID" type="number"></td>
                    <td><input v-model = "reName" type="text"></td>
                    <td><button @click="Update(key)">Edit me</button></td>
                </template>
                <template v-else>
                    <td v-text="p.name"></td>
                        <td><button @click="removeName(key)">Remove me</button></td>
                        <td><button @click="startUpdate(key)">Upadate me</button></td>
                </template>
            </tr>
     <!--   </template> !-->
        </table>
      
    </div>
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el : '#root' ,
            data :{
                names : ['Caroline','Matthew','Joe','Teste vue'],
                Persons : [
                    {id : 0 , name : 'Caroline'},
                    {id : 1 , name : 'Matthew'},
                    {id : 2, name : 'Joe'}
                ],
                editID : -1,
                lastID : 2,
                newName : '',
                flagID : 0,
                reName : ''

            },
            methods : {
                AddName(){
                    this.lastID++;
                    this.Persons.push({id : this.lastID, name : this.newName});
                    this.newName = '';
                },
                removeName(index){
                    this.$delete(this.Persons,index);
                },
                startUpdate(index){
                    this.editID = index;

                },
                Update(index){
                    this.Persons[index].name = this.reName;
                    this.Persons[index].id = this.flagID;
                    this.flagID = -1;
                    this.reName = '';
                    this.editID = -1;
                }


            }


        })
    </script>
</body>
</html>
